@import 'normalize.css';
@import '$lib/styles/fonts.css';

:root {
	--font-header: nb-television, serif;
	--font-body: nb-architekt, serif;
	--column-width: 42rem;
	--margin: 20px;

	font-family: var(--font-body);
	color: var(--primary);
	--border: 1px solid var(--background);
}

:root {
	--background: #232323;
	--background-50: #23232380;
	--primary: #d0d0d0;
	--primary-50: #d0d0d080;

	--green: #008080;
	--white: #fafafa;
	--black: #1b1b1b;

	--border: solid 1px var(--background);
}

:root.dark-mode {
	--background: #d0d0d0;
	--background-50: #d0d0d080;
	--primary: #232323;
	--primary-50: #23232380;
}

/* body {
	margin: 0;
	background-attachment: fixed;
	background-color: var(--background);
	background-size: 100% 100%;
	background: linear-gradient(var(--background), var(--background));
} */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-weight: 400;
	color: var(--primary);
	text-transform: none;
	letter-spacing: 0.1em;
	line-height: 150%;
	font-size: 12px;
}

/* ::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
} */

::-moz-selection {
	/* Code for Firefox */
	color: red;
	background: yellow;
}

::selection {
	color: red;
	background: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-header);
	letter-spacing: 0.1em;
	margin: 0;
}

h1 {
	font-size: 22px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 18px;
		font-weight: 400;
	}

	p,
	a {
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0.08em;
		font-size: 13px;
	}
}
